<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="exit-button">
    <h1>
        <a href="/logout" class="main-buttom-navigation ">Выйти</a>
    </h1>
</div>
<div class="home-admin">
    <img th:src="@{img/human.png}" class="img-human"/>
    <div class="list-menu-admin-home">
        <ul class="home-list">
            <div>
                <li class="item-list">
                    <a th:href="@{/admin/createTest}" class="home-list">Создать тест</a>
                </li>
            </div>
            <div>
                <li class="item-list">
                    <a th:href="@{/admin/createUser}" class="home-list">Создать пользователя</a>
                </li>
            </div>
            <div>
                <li class="item-list">
                    <a th:href="@{/admin/statistic}" class="home-list">Статистика</a>
                </li>
            </div>
        </ul>
    </div>
</div>
</body>
</html>