<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="exit-button">
    <h1>
        <a href="/tutor" class="main-buttom-navigation ">Назад</a>
        <a href="/logout" class="main-buttom-navigation ">Выйти</a>
    </h1>
</div>
<div class="home-admin">
    <img th:src="@{/img/human.png}" class="img-human"/>
    <div class="list-menu-admin-home">
        <ul class="home-list">
            <div>
                <li class="item-list">
                    <a th:href="@{/tutor/statistic/test}" class="home-list">Статистика по тесту</a>
                </li>
            </div>
            <div>
                <li class="item-list">
                    <a th:href="@{/tutor/statistic/question}" class="home-list">Статистика по вопросам</a>
                </li>
            </div>
            <div>
                <li class="item-list">
                    <a th:href="@{/tutor/statistic/user}" class="home-list">Статистика пользователей</a>
                </li>
            </div>
        </ul>
    </div>
</div>
</body>
</html>