<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Вопрос</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="exit-button">
    <h1>
        <a href="/logout" class="main-buttom-navigation ">Выйти</a>
    </h1>
</div>
<div class="home-admin">
    <img th:src="@{/img/human.png}" class="img-human"/>
    <div>
        <form th:method="GET" th:action="@{{url} (url=${isLast==0} ? '/user/nextQuestion' : '/user/endTest')}">
            <div class="text-center color-text" th:text="${question.description}"></div>
            <div class="form_radio_btn" th:each="answer:${question.answerSet}">
                <input type="radio" th:name="answer" th:id="${answer.answerId}" th:value="${answer.answerId}">
                <label th:for="${answer.answerId}" th:text="${answer.description}">Disabled</label>
            </div>
            <div>
                <input type="submit" th:value="${isLast!=1} ? 'Следующий вопрос' : 'Закончить тест'"
                       class="main-buttom-navigation">
            </div>
        </form>
    </div>
</div>
</body>
</html>