<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>STATISTICS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="exit-button">
    <h1>
        <a href="/logout" class="main-buttom-navigation ">Выйти</a>
    </h1>
</div>
<div>
    <table class="main-table-test">
        <tr>
            <th>ФИО</th>
            <th>Название теста</th>
            <th>Формулировка Вопроса</th>
            <th>Пройдено всего раз</th>
            <th>Процент правильных ответов</th>
        </tr>
        <tr th:each="row:${rows}">
            <td th:each="field:${row}" th:text="${field}"/>
        </tr>
    </table>
    <a th:href="@{/user/}" class = "main-buttom-navigation ">В начало</a>
    <br>

</div>
</body>
</html>