<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TEST STAT</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="exit-button">
        <h1>
            <a href="/logout" class="main-buttom-navigation ">Выйти</a>
        </h1>
    </div>
    <div>
        <table class="main-table-test">
            <tr>
                <th>Вопрос</th>
                <th>Правильно</th>
                <th>Рекомендуемая литература</th>
                <th>Ссылки на рекомендуемую литературу</th>
            </tr>
            <tr th:each="question:${answersMap}">
                <td th:text="${question.key.description}"/>
                <td th:if="${question.value == true}" th:text="ДА"/>
                <td th:if="${question.value == false}" th:text="НЕТ"/>
                <td>
                    <table class="inner-table-test">
                        <tr th:each="literature:${question.key.literatureSet}" th:with="link=${literature.link}">
                            <td th:text="${literature.description}"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="inner-table-test">
                        <tr th:each="literature:${question.key.literatureSet}" th:with="link=${literature.link}">
                            <td>
                                <a th:href="@{${link.link}}" th:text="${link.link}"></a>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
        <br>
        <a th:href="@{/user/getFullStat}" class="next_button">Перейти к статистике</a>
        <br>
    </div>
</div>
</body>
</html>