form.center {
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

.input-login {
    margin-top: 10em;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #4f81bd;
}
.input-password {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #4f81bd;
}
::-webkit-input-placeholder {
    text-align: center;
    color: #4f81bd;
    font-size: 22px;
}
.color-text {
    color: #4f81bd;
    font-size: 20px;
    padding-left: 10px;
}
input {
    outline: none;
}

.bottom-login {
    margin-top: 25px;
    margin-left: 15%;
    width: 150px;
    height: 35px;
    border-radius: 7px;
    border: 0px;
    background-color: #2c40a6;
    color: #ffffff;
    outline: none;
    font-size: 20px;
}
.bottom-login:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.home-admin {
    display: flex;
    margin-top: 5em;
    margin-left: 20%;
}
.img-human {
    height: 450px;
    width: 350px;
}
.list-menu-admin-home {
    margin-top: 10%;
    margin-left: 10%;
}
ul.home-list{
    font-size: 22px;
    list-style-type: none;
}
a.home-list{
    text-decoration: none;
    color: #538cd5;
}
.item-list{
    padding: 10px;
}
.item-list:hover{
    text-decoration:underline;
}
