<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div style="margin-top: 10em;">
    <div th:if = "${param.error}" class = "incorrect" >
        <h2>
            Неправильный логин или пароль!
        </h2>
    </div>
    <div th:if = "${param.logout}" class = "incorrect" >
        <h2>
            Вы вышли из системы!
        </h2>
    </div>
    <form th:action="@{/login}" method="post" class="center">
        <div data-validate="Username is required" >
            <input required type="text" placeholder="Логин" id="username" name="username" class = "input-password color-text">
        </div>
        <div data-validate="Password is required">
            <input required type="password" placeholder="Пароль" id="password" name="password"  class = "input-password color-text">
        </div>
        <div>
            <button class = "bottom-login">
                Войти
            </button>
        </div>
    </form>
</div>
</body>
</html>